CompileFlags:
  CompilationDatabase: build/
  Remove:
    - -mlongcalls
    - -fstrict-volatile-bitfields
    - -fno-tree-switch-conversion

Diagnostics:
  Suppress:
    - pp_file_not_found

InlayHints:
  ParameterNames: Yes
  DeducedTypes: Yes

Index:
  Background: Build
  Threads: 4